<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <aside class="span8">
      <section id="tofu-form">
        <%= render 'shared/tofu_form' %>
      </section>
    </aside>
  </div>  
  <div class="row">
    <div class="span6" id="received-tofus">
        <h3>Tofus Received</h3>
        <div class="bootstrapped-models" id="bootstrapped-tofus" data='<%= @tofus.to_json %>'></div>
        <%#= render 'shared/received_tofus' %>
    </div>
    <div class="span6" id="sent-tofus">
        <h3>Tofus Sent</h3>
        <div class="bootstrapped-models" id="bootstrapped-received-tofus" data='<%= @received_tofus.to_json %>'></div>
        <%#= render 'shared/tofus' %>
    </div>
  </div>

  <script type="text/template" id="tofu-template">
    <a href={{ "/users/" + user_id }}>
      <img src={{ user_gravatar }} class="gravatar">
    </a>
    <span class="user">
      <a href={{ "/users/" + user_id }} class="name">{{ user_name}}</a>
    </span>
    <span class="content">{{ content }}</span>
    <span class="timestamp">{{ timestamp }}</span>
  </script>

<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the Sample App</h1>

    <h2>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %> 