<% if signed_in? %>
  <div class="row">
    <aside class="span3">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%#= render 'shared/stats' %>
      </section>
    </aside>
    <aside class="span9">
      <section id="tofu-form">
        <%= render 'shared/tofu_form' %>
      </section>
    </aside>
  </div>  
  <div class="row">
    <div class="span6" id="received-tofus">
        <h3>Tofus Received</h3>
        <div class="bootstrapped-models" id="bootstrapped-tofus" data='<%= @tofus.to_json %>'></div>
        <%#= render 'shared/received_tofus' %>
    </div>
    <div class="span6" id="sent-tofus">
        <h3>Tofus Sent</h3>
        <div class="bootstrapped-models" id="bootstrapped-received-tofus" data='<%= @received_tofus.to_json %>'></div>
        <%#= render 'shared/tofus' %>
    </div>
  </div>
  <script type="text/javascript">
    App.currentFriends = new App.collections.Friends(<%= @friends.to_json.html_safe %>);
  </script>

  <script type="text/template" id="tofu-template">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-target={{ "#collapse-" + id }} data-parent=".tofus">
        <img src={{ user_gravatar }} class="gravatar">
        <span class="content">{{ content }}</span>
      </a>
    </div>

    <div id={{ "collapse-" + id }} class="collapse">
      <div class="accordion-inner">

        <div class="tofu-top">
          <div class="tofu-left">
            <a href={{ "/users/" + user_id }}>
              <img src={{ user_gravatar }} class="gravatar">
            </a>
            <span class="label">{{ group }}<border/span>
          </div>    

          <div>
            <span class="user">
              <a href={{ "/users/" + user_id }} class="name">{{ user_name}}</a>
            </span>
            <span class="content">{{ content }}</span>
          </div>

          <div class="status">
            <i class="icon-comment"></i>
            <span class="timestamp">{{ timestamp }}</span>
          </div>

        </div>

        <div>
          <ul class="comments"></ul>
          <form class="comment-form" onsubmit="return false">
            <input type="text" class="span5 hide comment-box" placeholder="Type something…">
          </form>
        </div>
      </div>
    </div>
  </script>

  <script type="text/template" id="comment-template">
    <li>
      <a href={{ "/users/" + author_id }} ><img class="avatar" src="http://www.gravatar.com/avatar/{{ undefined }}?d=mm&s=22">{{ author_id }}</a>
      <span>{{ content }}</span>
    </li>
  </script>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the Sample App</h1>

    <h2>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %> 